*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
/* headersction */
.headersction{
margin-top:40px;
background-color:#f3f4f6 ;
padding: 85px 0;

}



 .imgsction{
margin: 0 auto;
text-align: center;
position: relative;
 }

 .imgone1 {
    left: 130px;
    width: 150px;
    height: 150px;
    background-image: url("./sujon");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    border-radius: 50%;
    position: absolute;
    top: -80px;
}
.imgone2 {
    width: 150px;
    height: 150px;
    background-image: url("./sujon");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    top: -80px;
    left: 526px;
    border-radius: 50%;
    position: absolute;
}
.imgone3 {
    width: 150px;
    height: 150px;
    background-image: url("./sujon");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    top: -80px;
    left: 915px;
    border-radius: 50%;
    position: absolute;
}
.contentone1 {
    width: 300px;
    background-color: #ffffff;
    float: left;
    text-align: center;
    margin-left: 58px;
    margin-top: -12px;
    box-shadow: -3px 1px 12px 20px #ececec;
}


.contentone1 h3{
margin-top: 100px;
}

.contentone1 h6{
    padding: 10px;
}
    

.contentone2 {
    width: 300px;
    background-color: #ffffff;
    float: left;
    text-align: center;
    margin-left: 89px;
    margin-top: -12px;
    box-shadow: -3px 1px 12px 20px #ececec;
}


.contentone2 h3{
    margin-top: 100px;
    }
    
    .contentone2 h6{
        padding: 10px;
    }
        




.contentone1 ul li{
    list-style: none;
    display: inline-block;
    padding: 24px;

}
.contentone2 ul li{
    list-style: none;
    padding: 24px;
    display: inline-block;
}
.contentone3 ul li{
    list-style: none;
    display: inline-block;
    padding: 24px;
    

}
.contentone3 {
    width: 300px;
    background-color: #ffffff;
    float: left;
    text-align: center;
    margin-left:92px;
    margin-top: -12px;
    box-shadow: -3px 1px 12px 20px #ececec;
}
.contentone3 h3{
    margin-top: 100px;
    }
    
    .contentone3 h6{
        padding: 10px;
    }
        

.clearfix::after{
    content: "";
    width: 30%;
    display: block;
    clear: both;
}
.tittle{
    text-align: center;
    margin-bottom: 156px;
}
.tittle h3{
    padding: 20px;
    color: #90959b;
}
.tittle h4{
    font-size: 40px;
}